@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#mb-short-form, #mb-short-form * {
    font-size: 0.95rem !important; 
    line-height: 1.2em !important;
  }
#mb-short-form a[href^="tel"] {
    display: block !important;
    margin-top: 4px !important; /* small gap under "call us at" */
    font-weight: 600 !important;
    color: #2364d2 !important;
    text-decoration: none !important;
  }
